# Only allow direct access to specific Web-available files.

# Apache 2.2
#<IfModule !mod_authz_core.c>
#	Order Deny,Allow
#	Deny from all
#</IfModule>

# Apache 2.4
#<IfModule mod_authz_core.c>
#	Require all denied
#</IfModule>

# Akismet CSS and JS
#<FilesMatch "^(logo-full-2x.png|ui-bg_highlight-soft_100_eeeeee_1x100\.png|ui-bg_glass_100_fdf5ce_1x400\.png|ui-icons_ef8c08_256x240\.png|ui-bg_glass_100_f6f6f6_1x400\.png|ui-bg_highlight-soft_75_ffe45c_1x100\.png|ui-bg_gloss-wave_35_f6a828_500x100\.png|ui-bg_highlight-soft_100_eeeeee_1x100\.png|loading\.gif|font-awesome\.min\.css|infotravel-admin\.js|infotravel-motor-hotel\.js|infotravel-motor-voo\.js|infotravel-admin\.css|infotravel-motor-voo\.css|infotravel-motor-hotel\.css|jquery.autocomplete\.js|jquery-ui\.css)$">
##	<IfModule !mod_authz_core.c>
##		Allow from all
##	</IfModule>
#
#	<IfModule mod_authz_core.c>
#		Require all granted
#	</IfModule>
#</FilesMatch>

# Akismet images
#<FilesMatch "^logo-full-2x\.png$">
#	<IfModule !mod_authz_core.c>
#		Allow from all
#	</IfModule>
#
#	<IfModule mod_authz_core.c>
#		Require all granted
#	</IfModule>
#</FilesMatch>